body {
  max-width: 600px;
  margin: 1em auto;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  background-color: #333;
  color: #ffffff;
  text-align: justify; }

code {
  font-family: monospace;
  color: #559933;
  font-style: normal; }

.terminal {
  overflow: auto;
  text-align: left;
  background-color: black;
  color: #99ff66;
  font-family: Consolas, monaco, monospace;
  width: 100%;
  height: 300px;
  font-weight: 600; }
  .terminal input.hidden {
    opacity: 0;
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    background-color: transparent;
    outline: none;
    border: none; }
  .terminal .currentLine {
    outline: none;
    border: none; }
    .terminal .currentLine > span {
      white-space: pre; }
  .terminal p {
    white-space: pre;
    margin: 0;
    color: #559933; }
  .terminal .output {
    color: #666666; }
  .terminal .caret {
    background-color: #99ff66;
    color: black;
    white-space: pre; }
  .terminal .blink {
    animation: blink 1s step-start 0s infinite;
    -webkit-animation: blink 1s step-start 0s infinite; }

@keyframes blink {
  0% {
    background-color: #99ff66;
    color: black; }

  50% {
    background-color: black;
    color: #99ff66; }

  100% {
    background-color: #99ff66;
    color: black; } }
@-webkit-keyframes blink {
  0% {
    background-color: #99ff66;
    color: black; }

  50% {
    background-color: black;
    color: #99ff66; }

  100% {
    background-color: #99ff66;
    color: black; } }
