@font-face {
    font-family: 'silkscreen';
    src: url('webfont/slkscr-webfont.eot');
    src: url('webfont/slkscr-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfont/slkscr-webfont.woff') format('woff'),
         url('webfont/slkscr-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.bgimage
{
    border: 1px solid #151515;
    background-color: #3d3d3d;
    background-image: url(background.jpg);
    background-repeat: repeat;
    color: #27c1f4;
    text-shadow: 1px 1px 2px black;
    padding: 1em;
    box-shadow: inset 1px 1px 2px #222222,
                inset -1px -1px 2px #777777;
    border-radius: 0.4em;
    font-family: 'silkscreen', monospace;
    font-size: 16px;
}

.bgimage .withBackground {
    text-shadow: none;
}

.bgimage .bgimage-textinverted{
    color: #3d3d3d;
    background-color: #17a1d4; /* output color */
}

.bgimage p
{
    color: #17a1d4;
}

.bgimage .output
{
    color: #17a1d4;
}

.bgimage .textcursor
{
    background-color: #111111;
    color: #dedede;
    box-shadow: 1px 1px 2px black;
    text-shadow: none;
}

.bgimage .bgimage-blink
{
    animation: bgimage-blink 1s step-start 0s infinite;
}

@keyframes bgimage-blink {
    0%
    {
        background-color: #27c1f4;
        color: #3d3d3d;
    }
    50% {
        background-color: transparent;
        box-shadow: none;
        color: #27c1f4;
    }
    100% {
        background-color: #27c1f4;
        color: #3d3d3d;
    }
}
